* {
    /* Set box sizing as border box */
    box-sizing: border-box;
}

body {
    /* Dlete margin */
    margin: 0;
}

/* Styles for class container */
.container {
    /* set fix width 1000px */
    max-width: 1000px;
    /* set margin: left, right - 0; top, bottom - auto */
    margin: 0 auto;
    /* set padgin: left, right - 0; top, bottom - 15px */
    padding: 0 15px;
}

/* Styles for class block */
.block {
    /* set fix width 500px */
    width: 500px;
    /* Set shadow */
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
    /* Set style border radius */
    border-radius: 5px;
    /* Set margin top 50px */
    margin-top: 50px;
    /* Set all padding 15px */
    padding: 15px;
}

/* Styles for block list */
.block__list {
    margin-bottom: 30px;
}

/* Styles for list Do */
.block__list-do {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
    position: relative;
    font-family: cursive;
}
.block__list-do:hover > .block__list-delete {
    transition: opacity .3s ease;
    opacity: 1;
}
/* Styles for list Delete */
.block__list-delete {
    position: absolute;
    right: 0;
    top: 0;
    background-color: peru;
    color: aliceblue;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: 3px;
    width: 15%;
    line-height: 20px;
    text-align: center;
    display: block;
    opacity: 0;
    transition: opacity .3s ease;
}

.block__list-do:hover > .block__list-edite {
    transition: opacity .3s ease;
    opacity: 1;
}

/* Styles for list Edite */
.block__list-edite {
    position: relative;
    right: 0;
    top: 0;
    background-color: yellowgreen;
    color: aliceblue;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: 3px;
    width: 15%;
    line-height: 20px;
    text-align: center;
    display: block;
    opacity: 0;
    transition: opacity .3s ease;
}

/* Stylese for form */
.block__form:after {
    content: "";
    /* Set display form as tible */
    display: table;
    clear: both;
}

.block__input {
    /* Set input field to left position */
    float: left;
    display: block;
    width: 70%;
    height: 25px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    text-indent: 10px;
}

.block__btn {
    /* Set btn to right position */
    float: right;
    display: block;
    width: 15%;
    /* set hight text line */
    line-height: 20px;
    /* align text at center */
    text-align: center;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    background-color: darkslateblue;
    border-radius: 5px;
    color: azure;
}

/* set styles for block radio btn */
.block__radio {
    float: left;
    margin-top: 1em;
    position: relative;
}
/* set stylese for input fields in list */
.block__list-do-input {
    border: none;
    margin-bottom: 5px;
}